.header_btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background: #00094A;
    border-radius: 3px;
    border: 3px solid #00094A;
    transition: 0.3s;
    padding: 12px 30px;
    cursor: pointer;
    width: 186px;
    height: 42px;
}

.header_btn:hover {
    border: 3px solid #00094A;
    background-color: #404ca8;
}

.header_btn:active {
    border: 3px solid #00094A;
    background-color: white;
    color: #00094A;
}